.text-primary {
    color: #e0583e;
}

.btn.btn-link {
    color: #e0583e;
}

.btn.btn-link:visited {
    color: #dc4528;
}

.btn.btn-link:hover {
    color: #dc4528;
}

.btn.btn-link:active {
    color: #dc4528;
}

.btn.btn-primary {
    background: #e0583e;
    border-color: #dc4528;
    color: #fff;
}

.btn.btn-primary:active {
    background: #e0583e;
    border-color: #dc4528;
}

.btn.btn-primary:hover {
    background: #dc4528;
    border-color: #dc4528;
}

