{% include "header.html" %}

{% macro option(value, text, role) -%}
{% set IS_SELECTED = "selected" if value == role else "" %}

<option value="{{ value }}" {{ IS_SELECTED }}>{{ text }}</option>
{%- endmacro %}

<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="font-weight-bold mb-0">Account</h4>
        </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Your account resume</h4>
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" aria-label="Name" id="name" value="{{ session['name'] }}">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" aria-label="Email" id="email" value="{{ session['email'] }}">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Declared services</h4>
            <form>
              <div class="form-group">
                {% if 'services' in session %}
                  {% for service in session['services'] %}
                    <div class="service-item">
                      <label>Key</label>

                      <div class="input-group form-group">
                        <input type="text" class="form-control" aria-label="Key" value="{{ service['key'] }}" disabled>
                        <div class="input-group-append">
                         <span class="input-group-text bg-primary">
                             <a href="#" class="ti-reload text-white refresh-key" data-key="{{ service['key'] }}"></a>
                         </span>
                        </div>
                      </div>

                      <label>Role</label>
                      <select class="form-control">
                        {{ option("MINER", "Miner", service['role']) }}
                        {{ option("QWINNER", "Qwinner", service['role']) }}
                      </select>
                    </div>
                  {% endfor %}
                {% else %}
                  <p>No service declared</p>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
{% include "footer.html" %}
