{% include "header.html" %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="font-weight-bold mb-0">Account</h4>
        </div>
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Your account resume</h4>
            <form>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" aria-label="Name" id="name" value="{{ session['name'] }}">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" aria-label="Email" id="email" value="{{ session['email'] }}">
              </div>
              <!--<div class="form-group">
                <label for="pwd">Password
                  <input type="password" class="form-control" aria-label="Password" id="pwd">
                </label>
              </div>
              <div class="form-group">
                <label for="confirm-pwd">Confirm password
                  <input type="password" class="form-control" aria-label="Confirm password" id="confirm-pwd">
                </label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary mb-2" id="submit-change">Change</button>
              </div>-->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
{% include "footer.html" %}
